.btn {
  text-transform: uppercase;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  background-color: blue;
}
