.product-card {
  position: relative;
  border-radius: 2rem;
  padding: 2.5rem;
  padding-right: 3rem;
  h2 {
    font-size: 2.8rem;
  }
  .txt {
    font-size: 1.3rem;
    display: block;
  }
  .price {
    color: $color-primary-dark;
  }
  .pic {
    position: absolute;
    top: -4rem;
    transform: scale(1.3);
    right: -7rem;
  }
  @include respond(sm) {
    min-width: 30rem;
    .pic {
      transform: scale(1);
      right: -8rem;
    }
  }
}
