.shop-card {
  position: relative;
  border-radius: 0.8rem;
  padding: 1.5rem;
  margin-bottom: 3rem;
  h2,
  p {
    margin: 0;
  }
  .badge {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-weight: 400;
    font-size: 1.4rem;
    border-radius: 0.6rem;
    padding: 0.5rem 1rem;
  }
  .pic {
    display: block;
    margin: 0 auto;
  }
}
