$color-primary: #dc5ed7;
$color-primary-dark: #bf58a8;
$color-primary-light: rgba(#dc5ed7, 0.3);
$color-primary-light-1: #fceffb;
$color-primary-light-2: #e99de6;

$color-secondary: #739b81;
$color-secondary-light: rgba(#739b81, 0.3);
$color-secondary-dark: #4da973;

$color-tertiary: #f89c1c;
$color-tertiary-light: rgba(#f89c1c, 0.3);
$color-tertiary-dark: #f89c1c;

$color-skyblue: #23dcce;
$color-skyblue-light: rgba(#23dcce, 0.3);

$color-blue: #2e5ff2;
$color-blue-light: rgba(#2e5ff2, 0.3);

$color-gold: #ffb527;

$color-gold-light: rgba(#ffb527, 0.3);

$color-white: #fff;
$color-black: #000;
$color-black-2: #4b4848;
$color-gray: #f9f9f9;
$color-gray-1: #e5e5e5;
$color-gray-2: #b9b9b9;

//grid variables
