@media only screen and (max-width: 767.98px) {
  .text-center-md {
    text-align: center;
  }
}

.background-primary {
  background-color: rgba(220, 94, 215, 0.3) !important;
}

.background-primary-solid {
  background-color: #dc5ed7 !important;
}

.background-primary-light {
  background-color: #fceffb !important;
}

.background-secondary {
  background-color: rgba(115, 155, 129, 0.3) !important;
}

.background-tertiary {
  background-color: rgba(248, 156, 28, 0.3) !important;
}

.txt-primary-light {
  color: #e99de6 !important;
}

.txt-primary {
  color: rgba(220, 94, 215, 0.3) !important;
}

.txt-primary-solid {
  color: #dc5ed7 !important;
}

.txt-secondary {
  color: rgba(115, 155, 129, 0.3) !important;
}

.txt-tertiary {
  color: rgba(248, 156, 28, 0.3) !important;
}

.txt-primary-dark {
  color: #bf58a8 !important;
}

.txt-secondary-dark {
  color: #4da973 !important;
}

.txt-tertiary-dark {
  color: #f89c1c !important;
}

.txt-muted {
  color: #b9b9b9 !important;
}

.ptb-100 {
  padding: 10rem 0;
}

.ptb-50 {
  padding: 5rem 0;
}

.pt-50 {
  padding-top: 5rem;
}

.pb-100 {
  padding-bottom: 10rem;
}

@font-face {
  font-family: "Herman";
  src: url("../fonts/HurmeGeometricSans3 Light.otf");
  /* IE9 Compat Modes */
  font-weight: 200;
}
@font-face {
  font-family: "Herman";
  src: url("../fonts/HurmeGeometricSans3 Thin.otf");
  /* IE9 Compat Modes */
  font-weight: 300;
}
@font-face {
  font-family: "Herman";
  src: url("../fonts/HurmeGeometricSans3.otf");
  /* IE9 Compat Modes */
  font-weight: 400;
}
@font-face {
  font-family: "Herman";
  src: url("../fonts/HurmeGeometricSans3 SemiBold.otf");
  /* IE9 Compat Modes */
  font-weight: 600;
}
@font-face {
  font-family: "Herman";
  src: url("../fonts/HurmeGeometricSans3 Bold.otf");
  /* IE9 Compat Modes */
  font-weight: 700;
}
@font-face {
  font-family: "Herman";
  src: url("../fonts/HurmeGeometricSans3 Black.otf");
  /* IE9 Compat Modes */
  font-weight: 800;
}
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 767.98px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 575.98px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 1600.98px) {
  html {
    font-size: 75%;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::placeholder {
  font-family: "Herman";
  text-transform: uppercase;
  font-weight: 600;
}

body {
  box-sizing: border-box;
  font-family: "Herman";
  font-weight: 400;
  font-size: 1.4rem;
  overflow-x: hidden;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: Herman;
  font-weight: 600;
}
body a,
body a:hover {
  color: #000;
  text-decoration: none;
}
body p {
  color: #4b4848;
}
body ul {
  list-style: none;
}
body nav li,
body footer li {
  display: inline-block;
}
body input,
body button,
body span,
body textarea {
  outline: none;
}
body input {
  border-radius: 0.8rem;
  outline: none;
  border: none;
  padding: 1rem;
}
body input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
@media only screen and (min-width: 1600.98px) {
  body section {
    max-width: 1440px;
    margin: auto;
  }
  body main .container-fluid {
    max-width: 1440px;
  }
}

.button {
  font-family: "Herman";
  font-weight: 600;
  padding: 0.5rem 2rem;
  display: inline-block;
  border-radius: 0.8rem;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}
.button-block {
  width: 100%;
  padding: 1.5rem 2.5rem;
}
.button-lg {
  padding: 1rem 3rem;
}
.button__primary {
  background-color: #dc5ed7;
}
.button__primary--txtwht {
  color: #fff;
}
.button__primary--light {
  background-color: rgba(220, 94, 215, 0.3);
  color: #dc5ed7;
}
.button___outline {
  border: 1px solid #dc5ed7;
  color: #dc5ed7;
  background-color: transparent;
}
.button___outline:hover {
  color: #fff;
  background-color: #dc5ed7;
}
.button__dark, .button__dark:hover {
  background-color: #000;
  color: #fff;
}
.button__gradient {
  background: linear-gradient(270deg, #dc5ed7 0%, #ffa7fc 100%);
  color: #fff;
}

.feature-card {
  position: relative;
  border-radius: 2rem;
  padding: 2.5rem;
  padding-right: 3rem;
  min-width: 29rem;
}
.feature-card h2 {
  font-size: 2.8rem;
}
.feature-card .txt {
  font-size: 1.3rem;
  display: block;
}
.feature-card .price {
  color: #bf58a8;
}
.feature-card .pic {
  position: absolute;
  top: -2rem;
  transform: scale(1.4);
  right: -8rem;
}
@media only screen and (max-width: 575.98px) {
  .feature-card {
    margin-left: 1rem;
  }
  .feature-card .pic {
    transform: scale(1);
    right: -9rem;
    top: -5rem;
  }
}

.accordion-single:not(:last-child) {
  margin-bottom: 2rem;
}
.accordion-single__header button {
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}
.accordion-single__header button span {
  font-family: "Herman";
  font-weight: 600;
}
.accordion-single__header button em {
  background-color: #f5f5f5;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion-single__header button em img {
  transform: scale(0.9) rotate(180deg);
}
.accordion-single__header button.collapsed {
  background-color: #f5f5f5;
}
.accordion-single__header button.collapsed img {
  transform: scale(0.9) rotate(0deg);
}

.shop-card {
  position: relative;
  border-radius: 0.8rem;
  padding: 1.5rem;
  margin-bottom: 3rem;
}
.shop-card h2,
.shop-card p {
  margin: 0;
}
.shop-card .badge {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-weight: 400;
  font-size: 1.4rem;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
}
.shop-card .pic {
  display: block;
  margin: 0 auto;
}

.footer {
  background: url(../img/background.png);
  background-size: cover;
  padding: 3.5rem;
}
@media only screen and (max-width: 991.98px) {
  .footer {
    padding: 4rem 2.4rem;
  }
}
.footer__form {
  background-color: #fff;
  border-radius: 0.8rem;
  overflow: hidden;
  padding: 0.5rem 1rem;
}
.footer__form input {
  border: none;
  height: 100%;
  width: 75%;
}
@media only screen and (max-width: 767.98px) {
  .footer .lower-footer .footer-logo {
    display: flex;
    justify-content: center;
  }
  .footer .lower-footer [class*=col-] {
    margin-top: 3rem;
  }
  .footer p,
.footer li {
    text-align: center;
  }
}

nav {
  font-family: "Herman";
  padding: 0px 5rem;
  position: relative;
}
nav .toggle-botton,
nav .cross-botton {
  width: 30px;
  display: none;
}
nav .collapsable {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
nav a {
  font-weight: 600;
  color: #000;
}
nav a:hover {
  color: rgba(0, 0, 0, 0.7);
}
nav #cart-btn {
  position: relative;
}
nav #cart-btn span {
  font-weight: 400;
  font-size: 1rem;
  padding: 0rem 1rem;
  position: absolute;
  border-radius: 1rem;
  top: -1rem;
  right: -2.2rem;
}
@media only screen and (max-width: 991.98px) {
  nav {
    padding: 0px 3rem;
  }
  nav .cross-botton {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: 5rem;
    top: 3rem;
    background: #f5f5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .cross-botton img {
    width: 20px;
  }
  nav .toggle-botton {
    width: 30px;
    display: block;
    position: absolute;
    right: 3rem;
  }
  nav .collapsable {
    height: 100vh;
    z-index: 57;
    width: 60vw;
    position: fixed;
    background: #fff;
    top: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    right: 0;
    padding-top: 20vh;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  nav .collapsable.show {
    transform: translateX(0);
  }
  nav .collapsable ul li {
    display: block;
    text-align: center;
    padding: 1rem 0;
  }
  nav .collapsable .nav-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
  }
  nav #cart-btn {
    position: absolute;
    top: 3.5rem;
    right: 10rem;
  }
}
@media only screen and (max-width: 575.98px) {
  nav #cart-btn {
    top: 4.5rem;
    right: 10rem;
  }
}

.hero-section .container h1 {
  font-size: 6rem;
}
.hero-section .container h1 span {
  font-family: Herman;
  font-weight: 400;
}
.hero-section .container p {
  font-size: 2.4rem;
}
@media only screen and (max-width: 767.98px) {
  .hero-section {
    min-height: 60vh;
  }
}

.section-header h1 {
  font-size: 3.5rem;
}
.section-header p {
  font-size: 2rem;
}

.home-popup {
  top: 20vh;
  transform: translate(-50%, 0);
  left: 50%;
}
@media only screen and (max-width: 575.98px) {
  .home-popup {
    left: 55%;
  }
}
.home-popup .modal-dialog {
  width: 35rem;
}
.home-popup .modal-dialog .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  border-radius: 0.8rem;
  min-height: 35rem;
}
.home-popup .modal-dialog .modal-content h2 {
  font-size: 2.4rem;
}
.home-popup .modal-dialog .modal-content p {
  font-size: 1.2rem;
}
.home-popup .modal-dialog .modal-content .popup-callender {
  display: flex;
}
.home-popup .modal-dialog .modal-content .popup-callender select {
  border: none;
  outline: none;
  background-color: #fceffb;
  color: #e99de6;
  height: 60px;
  padding: 0 1.8rem;
}
.home-popup .modal-dialog .modal-content .popup-callender select:not(:last-child) {
  border-right: 1px solid #e99de6;
}
.home-popup .modal-dialog .modal-content .popup-callender select:nth-child(1) {
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}
.home-popup .modal-dialog .modal-content .popup-callender select:nth-child(3) {
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.shop-header {
  margin: 5rem;
  background-color: #fceffb;
  border-radius: 5rem;
  padding: 0 5rem;
  padding-top: 2rem;
}
.shop-header__floatImg {
  transform: translateY(3rem);
}
.shop-header__form {
  background-color: rgba(220, 94, 215, 0.3);
  border-radius: 0.8rem;
  overflow: hidden;
  height: 4rem;
}
.shop-header__form input {
  border: none;
  height: 100%;
  background-color: transparent;
}
.shop-sidebar ul {
  margin: 4rem 0;
}
.shop-sidebar ul li {
  margin: 1rem 0;
  font-weight: 600;
}
.shop-sidebar ul li .button {
  font-size: 1.2rem;
}
.shop-sidebar ul li a {
  color: #b9b9b9;
}
.shop-sidebar ul li.active a {
  color: #000;
}
@media only screen and (max-width: 767.98px) {
  .shop-sidebar ul {
    margin: 2rem 0;
  }
  .shop-sidebar ul li {
    display: inline-block;
    margin: 1rem;
  }
}
.shop-main {
  margin-top: 5rem;
}

.cart {
  /* Handle */
  /* Handle on hover */
}
.cart h1 {
  font-size: 3rem;
}
.cart ::-webkit-scrollbar {
  width: 5px;
}
.cart ::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 10px;
}
.cart ::-webkit-scrollbar-thumb:hover {
  background: #b9b9b9;
}
.cart .container-fluid {
  margin: 0px;
  padding: 0px;
}
.cart-main {
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 5rem;
  padding: 3rem 5rem;
}
.cart-sidebar {
  background-color: #f5f5f5;
  height: 100vh;
  margin-left: 3rem;
  padding: 3rem 4rem;
}
.cart-sidebar hr {
  border-bottom: 1px solid #e5e5e5;
}
.cart-item {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
}
.cart-item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
.cart-item-quantity {
  padding: 1rem;
  border: 1.5px solid #000;
  text-align: center;
  border-radius: 1rem;
  font-weight: 600;
}
.cart-item-cross {
  height: 1.5rem;
  width: 5rem;
}
@media only screen and (max-width: 575.98px) {
  .cart-item {
    text-align: center;
  }
  .cart-item [class*=col-] {
    margin-bottom: 1rem;
  }
  .cart-item-product {
    height: 30rem;
  }
  .cart-item-quantity {
    padding: 1rem;
    border: 1.5px solid #000;
    text-align: center;
    border-radius: 1rem;
    font-weight: 600;
  }
  .cart-item-cross {
    position: absolute;
    height: 5rem;
    width: 5rem;
    background: #f5f5f5;
    border-radius: 10rem;
    overflow: hidden;
    top: 2rem;
    right: 2rem;
  }
}
.cart-link {
  margin-left: 5rem;
  height: 10vh;
}
.cart-link a {
  display: inherit;
}
.cart-link a img {
  transform: rotate(-90deg) scale(0.8);
  margin: 1.5rem;
  margin-top: 0.5rem;
}
/*# sourceMappingURL=main.css.map */