.footer {
  background: url(../img/background.png);
  background-size: cover;
  &__form {
    background-color: $color-white;
    border-radius: 0.8rem;
    overflow: hidden;
    input {
      border: none;
      height: 100%;
    }
  }

  @include respond(md) {
    .lower-footer {
      [class*="col-"] {
        margin-top: 3rem;
      }
    }
    p,
    li {
      text-align: center;
    }
  }
}
