nav {
  font-family: "Herman";
  padding: 0px 5rem;
  position: relative;
  .toggle-botton,
  .cross-botton {
    width: 30px;
    display: none;
  }
  .collapsable {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  a {
    font-weight: 600;
    color: $color-black;
    &:hover {
      color: rgba($color-black, 0.7);
    }
  }

  #cart-btn {
    position: relative;
    span {
      font-weight: 400;
      font-size: 1rem;
      padding: 0rem 1rem;
      position: absolute;
      border-radius: 1rem;
      top: -1rem;
      right: -2.2rem;
    }
  }
  @include respond(lg) {
    padding: 0px 3rem;
    .cross-botton {
      width: 50px;
      height: 50px;
      display: block;
      position: absolute;
      right: 5rem;
      top: 3rem;
      background: $color-gray;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 20px;
      }
    }
    .toggle-botton {
      width: 30px;
      display: block;
      position: absolute;
      right: 3rem;
    }
    .collapsable {
      height: 100vh;
      z-index: 57;
      width: 60vw;
      position: fixed;
      background: #fff;
      top: 0;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      right: 0;
      padding-top: 20vh;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
      &.show {
        transform: translateX(0);
      }
      ul {
        li {
          display: block;
          text-align: center;
          padding: 1rem 0;
        }
      }
      .nav-btns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
      }
    }
    #cart-btn {
      position: absolute;
      top: 3.5rem;
      right: 10rem;
    }
  }
  @include respond(sm) {
    #cart-btn {
      top: 4.5rem;
      right: 10rem;
    }
  }
}
