.login {
  height: 100vh;
  &-card {
    margin: auto;
    background: url(../img/bg-darksvg.svg);
    border-radius: 8px;
    overflow: hidden;
    padding: 2rem 4rem;
    &-logo {
      max-width: 6rem;
    }
  }
}
.account {
  min-height: 100vh;
  &-sidebar {
    background-color: $color-gray;
    min-height: 100vh;
    @include respond(md) {
      min-height: auto;
    }
    a {
      font-weight: 600;
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      border-left: 5px solid transparent;
      transition: all 0.5s ease-in-out;
      &:hover,
      &.active {
        border-left: 5px solid $color-primary;
        background-color: rgba($color-primary-light, 0.1);
      }
      span {
        width: 40px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    #acc-account-tab,
    #acc-overview-tab {
      span {
        background-image: url(../img/Category.svg);
      }
      &:hover,
      &.active {
        span {
          background-image: url(../img/Category-primary.svg);
        }
      }
    }
    #acc-verification-tab {
      span {
        background-image: url(../img/verification.svg);
      }
      &:hover,
      &.active {
        span {
          background-image: url(../img/verification-primary.svg);
        }
      }
    }
    #acc-billing-tab {
      span {
        background-image: url(../img/wallet.svg);
      }
      &:hover,
      &.active {
        span {
          background-image: url(../img/wallet-primary.svg);
        }
      }
    }
    #acc-shipping-tab {
      span {
        background-image: url(../img/shipping.svg);
      }
      &:hover,
      &.active {
        span {
          background-image: url(../img/shipping-primary.svg);
        }
      }
    }
    #acc-refHistory-tab {
      span {
        background-image: url(../img/ticket.svg);
      }
      &:hover,
      &.active {
        span {
          background-image: url(../img/ticket-primary.svg);
        }
      }
    }
    #acc-orderHistory-tab {
      span {
        background-image: url(../img/order.svg);
      }
      &:hover,
      &.active {
        span {
          background-image: url(../img/order-primary.svg);
        }
      }
    }
    #acc-settings-tab {
      span {
        background-image: url(../img/setting.svg);
      }
      &:hover,
      &.active {
        span {
          background-image: url(../img/setting-primary.svg);
        }
      }
    }
  }
  &-main {
    min-height: 100vh;
    .tab-pane {
      margin-top: 13rem;
      margin-left: 10rem;
      font-size: 1.6rem;
      @include respond(md) {
        margin-top: 2rem;
        padding: 4rem 2rem;
        margin-left: 0rem;
        font-size: 1.4rem;
      }
      h1 {
        font-size: 3rem;
      }
      input,
      select {
        background-color: $color-gray;
      }
    }
    &-document {
      background-color: $color-gray;
      height: 250px;
    }
  }
}
.user {
  &-main {
    min-height: 100vh;
    position: relative;
    hr.sp {
      border-top: 2px solid #000;
    }
    .tab-pane {
      margin: 4rem;
      margin-top: 8rem;
      @include respond(md) {
        margin-top: 15rem;
      }
    }
    .card {
      border: none;
    }
  }
  &-popup-card {
    position: absolute;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    background-color: $color-black;
    display: flex;
    padding: 1rem;
    min-width: 200px;
    width: max-content;
    img {
      border-radius: 0.8rem;
      margin-right: 1.5rem;
    }
    p {
      color: $color-white;
      margin: 0;
    }
  }
  &-card {
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    h1 {
      font-size: 4rem;
    }
    span {
      font-size: 1.6rem;
    }
    .icon {
      padding: 2rem;
      border-radius: 50% !important;
    }
  }
  &-overview-card {
    background-color: $color-gray;
    padding: 3rem 4rem;
    border-radius: 1.2rem;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    input {
      padding: 0.5rem 1rem;
    }
    .card {
      border: none;
      padding: 1rem;
      span {
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    @include respond(md) {
      padding: 2rem;
    }
  }
  &-settings {
    margin-top: 3rem;
    min-height: 100vh;
    padding-bottom: 10rem;
    padding: 1.5rem;
    padding-bottom: 10rem;
    @include respond(md) {
      button {
        margin-top: 2rem;
      }
    }
    &-card {
      position: relative;
      img {
        margin-right: 2rem;
      }
      &-edit-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50% !important;
        background-color: $color-gray;
        display: flex;
        justify-content: center;
        img {
          margin: 0px;
        }
      }
    }
  }
}
